<h1>Who We Are</h1>

<section class="row">
  <div class="col-sm-6">
    <h2>{{One-line testimonial quote}}</h2>

    <p>We have been in business for over 25 years providing high-quality and affodable remodelling to projects ranging from large house reimaginings to smaller scale installations.  We are dedicated to delivering projects tailored to your specifications, on time and within your budget.</p>

    <p>We are a general contractor, so we can handle all types of projects.  Over our history we have remodeled kitchens and bathrooms, built decks and patios, and helped people make their dream home a reality.</p>

    <p>
  </div>
</section>