<section class="hero">
  <h1 class="title">An affordable solution to your home improvement needs</h1>
  <div><a href="/contact" class="btn btn-primary btn-large">Free consultation</a></div>
</section>

<div class="container">
  <section class="intro-sec">
    <div class="row">
      <div class="col-sm-6 col-md-8">
        <p>
          <span class="intro-emph">Main Street Carpentry</span>
          <span>is a full-service home construction and remodeling company.  We have been around for over 25 years and specialize in high-quality projects, affordable costs, and great customer service.  Main Street is owned and operated by Keith Johnson and is located in Kansas City, MO.  Read more about us <a href="/about">here</a>, check out our <a href="/services">work</a>, or give us a <a href="/contact">call</a>!</span>
        </p>
      </div>
      <div class="col-sm-6 col-md-4">
        <img class="img-responsive border" src="/assets/home/kansas-city.jpg" />
      </div>
    </div>
  </section>
</div>