<div class="center">
  <h1 class="title center">An affordable solution to your home improvement needs</h1>
  <p><a href="/contact" class="btn btn-primary btn-large">Free consultation</a></p>
</div>

<hr>

<div class="row">
  <div class="col-lg-12">
     <h3>Our Past Work</h3>
  </div>
</div><!-- /.row -->

<div class="row text-center">

  <div class="col-lg-3 col-md-6 hero-feature">
    <div class="thumbnail">
      <img src="/img/decks-1.jpg" alt="">
      <div class="caption">
        <h3>Feature Label</h3>
        <p>This would be a great spot to feature some brand new products!</p>
        <p><a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a></p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 hero-feature">
    <div class="thumbnail">
      <img src="/img/decks-2.jpg" alt="">
      <div class="caption">
        <h3>Feature Label</h3>
        <p>This would be a great spot to feature some brand new products!</p>
        <p><a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a></p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 hero-feature">
    <div class="thumbnail">
      <img src="/img/frame-1.jpg" alt="">
      <div class="caption">
        <h3>Feature Label</h3>
        <p>This would be a great spot to feature some brand new products!</p>
        <p><a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a></p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 hero-feature">
    <div class="thumbnail">
      <img src="/img/decks-3.jpg" alt="">
      <div class="caption">
        <h3>Feature Label</h3>
        <p>This would be a great spot to feature some brand new products!</p>
        <p><a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a></p>
      </div>
    </div>
  </div>


</div><!-- /.row -->

<hr>

<footer>
  <div class="row">
    <div class="col-lg-12">
      <p>Copyright &copy; Chris Johnson, 2013.  All rights reserved.</p>
      <p>Licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache V2 License</a></p>
    </div>
  </div>
</footer>