<section class="work-sec">
  <h3 class="title fancy">Our Services</h3>
  <hr>

  <h4 class="subtitle">Let's take a tour through your new master bathroom!</h4>
  <div class="row">
    <div class="col-md-4">
      <img class="img-responsive" src="/assets/work/deck.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="/assets/work/kitchen.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="/assets/work/deck-2.jpg" alt="">
    </div>
  </div>
  <hr>

  <h4 class="subtitle">Turn small rooms into one beautiful open space.</h4>
  <div class="row">
    <div class="col-md-4">
      <img class="img-responsive" src="/assets/work/deck.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="/assets/work/kitchen.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="/assets/work/deck-2.jpg" alt="">
    </div>
  </div>
  <hr>

  <h4 class="subtitle">Turn your old brick fireplace into something beautiful with tile!</h4>
  <div class="row">
    <div class="col-md-4">
      <img class="img-responsive" src="/assets/work/deck.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="/assets/work/kitchen.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="/assets/work/deck-2.jpg" alt="">
    </div>
  </div>
  <hr>

  <h4 class="subtitle">Make your cabin into a spectacular lake destination!</h4>
  <div class="row">
    <div class="col-md-4">
      <img class="img-responsive" src="/assets/work/deck.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="/assets/work/kitchen.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="/assets/work/deck-2.jpg" alt="">
    </div>
  </div>
  <hr>

  <h4 class="subtitle">Any of your framing needs.</h4>
  <div class="row">
    <div class="col-md-4">
      <img class="img-responsive" src="/assets/work/deck.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="/assets/work/kitchen.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="/assets/work/deck-2.jpg" alt="">
    </div>
  </div>
  <hr>
</section>