form {
  margin-top: 30px;
}

.subtitle {
  margin-bottom: 20px;
}

.well > div {
  margin-bottom: 5px;
}

.error-box {
  list-style-type: none;

  li {
    font-weight: bold;
    margin-bottom: 2px;
  }
}