@import "globals/vars";

.main-content {
  .hero {
    margin: 3rem 0;
    text-align: center;

    .btn {
      font-size: 20px;
    }
  }

  .title {
    font-size: 2.5rem;
    max-width: 900px;
    margin: 20px auto;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  html {
    font-size: 70%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  html {
    font-size: 85%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  html {
    font-size: 100%;
  }
}