@import "globals/vars";

img {
  border: 1px solid $gray;
}

.btn {
  border-radius: 10px;
  padding: 10px 15px;
  text-transform: uppercase;
}

.btn-primary {
  background-image: linear-gradient($green-aux, $green);

  &:hover {
    background-image: linear-gradient($green-aux-2, $green);
  }

  &, &:active, &:hover {
    background-color: $green;
    border-color: $green-br;
  }
}