@import "globals/vars";

footer {
  padding: 30px 0;
}

.main-content, .container {
  & > section {
    padding: 4rem 0;
    border-bottom: 1px solid $lightGray;

    & > .title {
      margin-bottom: 2rem;
    }
  }
}

.navbar {
  border-bottom: 1px solid $lightGray;
  margin-bottom: 0;

  * {
    color: black;
  }
}

.navbar-nav {
  a {
    font-size: 1rem;
  }

  .cta {
    @extend .btn, .btn-primary;
    color: white;
    padding: 5px 15px;
    margin: 10px 0 10px 20px;
    font-weight: bold;
  }
}

.navbar-brand {
  font-family: "Arvo";
  font-size: 1.8rem;
  font-weight: bold;
}

.icon-bar {
  background-color: black;
}