@import "globals/vars";

p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.title, .title * {
  font-size: 2.5rem;
  font-weight: 300;
}

.subtitle, .subtitle * {
  font-size: 1.8rem;
  margin: 10px 0 30px;
  font-weight: 300;
}

.fancy {
  font-family: "Arvo";
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-md-min) {
  p {
    font-size: 1.1rem;
  }
}